body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* App Container */
.app {
  width: 90%;
  max-width: 350px;
}

/* Header */
.header {
  text-align: center;
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Card UI */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

/* Input */
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #ff3b3b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d32f2f;
}

/* Location Button */
.location-btn {
  background: #1976d2;
}

.location-btn:hover {
  background: #0d47a1;
}

/* Output */
#output {
  margin-top: 10px;
  font-size: 14px;
}

.sos-btn {
  background: #ff0000;
  font-weight: bold;
}

.sos-btn:hover {
  background: #b30000;
}
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}